.item {
  border-bottom: 1px solid #e5e5e5;
}

.item td {
  padding-left: 10px;
  border-bottom: 1px solid #e5e5e5;
}
.item:last-of-type td {
  border: none;
}

.users {
  width: 100%;
  max-width: 606px;
  table-layout: fixed;
}

.buttonsContainer {
  padding-left: 278px;
}

.container {
  display: flex;
  gap: 18px;
  flex-direction: column;
  margin-top: 33px;
}

.thead {
  background-color: #e5e5e5;
  width: 50%;
}

.nameCol {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.4px;
  color: black;
  padding: 10px;
}

.ageCol {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.4px;
  color: black;
  padding: 10px;
}
