.container {
  padding: 0 20px;
}

.wrapper {
  position: relative;
}

.number {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  top: 10%;
  left: -2%;
}
.number_right {
  left: 101.5%;
}
.range1 {
}
